<div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-no-wrap flex-wrap flex-col">
<div class="glider-contain">
    <div class="glider">
        <div class="m-2"><img alt="Test" src="http://placehold.it/300x300?text=1"></div>
        <div  class="m-2"><img alt="Test" src="http://placehold.it/300x300?text=2"></div>
        <div  class="m-2"><img alt="Test" src="http://placehold.it/300x300?text=3"></div>
        <div  class="m-2"><img alt="Test" src="http://placehold.it/300x300?text=4"></div>
        <div  class="m-2"><img alt="Test" src="http://placehold.it/300x300?text=5"></div>
        <div  class="m-2"><img alt="Test" src="http://placehold.it/300x300?text=6"></div>
        <div  class="m-2"><img alt="Test" src="http://placehold.it/300x300?text=7"></div>
        <div  class="m-2"><img alt="Test" src="http://placehold.it/300x300?text=8"></div>
        <div  class="m-2"><img alt="Test" src="http://placehold.it/300x300?text=9"></div>
        <div  class="m-2"><img alt="Test" src="http://placehold.it/300x300?text=10"></div>
        <div  class="m-2"><img alt="Test" src="http://placehold.it/300x300?text=11"></div>
        <div  class="m-2"><img alt="Test" src="http://placehold.it/300x300?text=12"></div>
        <div  class="m-2"><img alt="Test" src="http://placehold.it/300x300?text=13"></div>
        <div  class="m-2"><img alt="Test" src="http://placehold.it/300x300?text=14"></div>
        <div  class="m-2"><img alt="Test" src="http://placehold.it/300x300?text=15"></div>
        <div  class="m-2"><img alt="Test" src="http://placehold.it/300x300?text=16"></div>
    </div>
    <button class="glider-prev">&laquo;</button>
    <button class="glider-next">&raquo;</button>
    <div id="dots"></div>
</div>
</div>