<div id="modal-login" aria-hidden="true" class="modal__overlay micromodal-slide  fixed top-0 left-0 w-screen h-screen flex items-center justify-center" tabindex="-1" data-custom-close="">
  <div   role="dialog" aria-modal="true" aria-labelledby="modal-login-title" class="modal-content absolute bg-white lg:w-1/4 lg:m-0 m-5 p-5">
    <span aria-label="Close modal" data-custom-close="" class="close-button">&times;</span>
    <h1>Hello, I am a modal!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro iure modi eligendi excepturi odit, delectus
      expedita dolore laudantium quisquam aliquid ex nesciunt nostrum, quibusdam omnis architecto adipisci dicta.
      Magnam, inventore.</p>
  </div>
</div>


<div id="modal-2" aria-hidden="true" class="modal__overlay micromodal-slide  fixed top-0 left-0 w-screen h-screen flex items-center justify-center" tabindex="-1" data-custom-close="">
  <div   role="dialog" aria-modal="true" aria-labelledby="modal-login-title" class="modal-content absolute bg-white lg:w-1/4 lg:m-0 m-5 p-5">
    <span aria-label="Close modal" data-custom-close="" class="close-button">&times;</span>
    <h1>Modal2</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro iure modi eligendi excepturi odit, delectus
      expedita dolore laudantium quisquam aliquid ex nesciunt nostrum, quibusdam omnis architecto adipisci dicta.
      Magnam, inventore.</p>
  </div>
</div>
