<div class="modal  fixed top-0 left-0 w-screen h-screen flex items-center justify-center">
  <div class="modal-content absolute bg-white w-1/4 p-5">
    <span class="close-button">&times;</span>
    <h1>Hello, I am a modal!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro iure modi eligendi excepturi odit, delectus
      expedita dolore laudantium quisquam aliquid ex nesciunt nostrum, quibusdam omnis architecto adipisci dicta.
      Magnam, inventore.</p>
  </div>
</div>