<!DOCTYPE html>
<html  lang="en">
    
<head>
    {% include 'templates/head.html' %}
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.core.min.css" integrity="sha512-YQlbvfX5C6Ym6fTUSZ9GZpyB3F92hmQAZTO5YjciedwAaGRI9ccNs4iw2QTCJiSPheUQZomZKHQtuwbHkA9lgw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.theme.min.css" integrity="sha512-wCwx+DYp8LDIaTem/rpXubV/C1WiNRsEVqoztV0NZm8tiTvsUeSlA/Uz02VTGSiqfzAHD4RnqVoevMcRZgYEcQ==" crossorigin="anonymous" />
    
</head>

<body class="bg-gray-200 main flex flex-col justify-between h-screen">
    {% include 'templates/header.html' %}

    <main>
        {% include 'templates/block1.html' %}
        {% include 'templates/carusel.html' %}
    </main>


    {% include 'templates/footer.html' %}
    
   
    

</body>


</html>